.mac {
  background-color: #f9f9f9;
  padding: 50px 0px;

  @media (max-width: $mobileSmall) {
    padding: 100px 0px;
  }
  @media (max-width: 390px) {
    padding: 40px 0px;
  }

  // .mac__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

  // .mac__title

  &__title {
    color: #2b2a29;

    @media (max-width: $mobile) {
      line-height: 110%;
    }
  }

  // .mac__subtitle

  &__subtitle {
    font-family: $fontFamilySource;
    font-size: 27px;
    font-weight: 400;
    line-height: 100%;
    margin-top: 30px;
  }

  // .mac__text

  &__text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 120%;
  }
}
