// Normalize
@import "./normalize.css";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamilySource: "Source Sans Pro", sans-serif;
$fontFamilyUbuntu: "Ubuntu", sans-serif;
@import "./fonts.css";
$fontSize: 20px; // где 20(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000;
$mainPinkColor: #ec5863;
// Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1180px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 525px; // Телефоны S
$mobileSmallXs: 480px; // Телефоны S

[class*="__container"] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 10px;
}
// PC
@media (max-width: $maxWidthContainer) {
  [class*="__container"] {
    max-width: $tablet;
  }
}
// Tablet
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: $mobile;
  }
}
// Mobile
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

// Минимальное обнуление стилей
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1;
}
body {
  font-family: $fontFamilySource;
  font-size: $fontSize;
  color: $mainColor;
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  background-color: inherit;
  color: #737fe6;
  cursor: pointer;
}

.error {
  font-size: 16px;
  color: #000;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    padding-top: 100px;
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Общие стили ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.title {
  font-family: $fontFamilyUbuntu;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: $mobileSmallXs) {
    font-size: 32px;
  }
}
.subtitle {
  font-size: 28px;
  font-weight: 400;
}

// Подключение стилей отдельных блоков
@import "./blocks/header";
@import "./blocks/burger";
@import "./blocks/codependency";
@import "./blocks/mac";
@import "./blocks/whom";
@import "./blocks/benefits";
@import "./blocks/ticker";
@import "./blocks/program";
@import "./blocks/experts";
@import "./blocks/order";
@import "./blocks/footer";
@import "./blocks/modal";
